@charset "utf-8";

html, body {
    width:100%;
    height: 100%;
    margin: 0px;
    padding: 0px
}

#map-page, #map-canvas {
    width: 100%;
    height: 90%;
    margin: 0px;
    padding: 0px
}

#map-canvas div.gmnoprint[title="CurrentPositionNormal"] {
    -moz-animation: pulsate 1.5s ease-in-out infinite;
    -webkit-animation: pulsate 1.5s ease-in-out infinite;
    border:1pt solid #fff;
    /* make a circle */
    -moz-border-radius:51px;
    -webkit-border-radius:51px;
    border-radius:51px;
    /* multiply the shadows, inside and outside the circle */
    -moz-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
    -webkit-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
    box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
    /* set the ring's new dimension and re-center it */
    height:51px!important;
    margin:-18px 0 0 -18px;
    width:51px!important;
}

#map-canvas div.gmnoprint[title="CurrentPositionNormal"] img {
    display:none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (device-width: 768px) {
    #map-canvas div.gmnoprint[title="CurrentPositionNormal"] {
        margin:-10px 0 0 -10px;
    }
}

#map-canvas div.gmnoprint[title="CurrentPositionWarn"] {
    -moz-animation: pulsate 1.5s ease-in-out infinite;
    -webkit-animation: pulsate 1.5s ease-in-out infinite;
    border:1pt solid #fff;
    /* make a circle */
    -moz-border-radius:51px;
    -webkit-border-radius:51px;
    border-radius:51px;
    /* multiply the shadows, inside and outside the circle */
    -moz-box-shadow:inset 0 0 5px #fd0, inset 0 0 5px #fd0, inset 0 0 5px #fd0, 0 0 5px #fd0, 0 0 5px #fd0, 0 0 5px #fd0;
    -webkit-box-shadow:inset 0 0 5px #fd0, inset 0 0 5px #fd0, inset 0 0 5px #fd0, 0 0 5px #fd0, 0 0 5px #fd0, 0 0 5px #fd0;
    box-shadow:inset 0 0 5px #fd0, inset 0 0 5px #fd0, inset 0 0 5px #fd0, 0 0 5px #fd0, 0 0 5px #fd0, 0 0 5px #fd0;
    /* set the ring's new dimension and re-center it */
    height:51px!important;
    margin:-18px 0 0 -18px;
    width:51px!important;
}

#map-canvas div.gmnoprint[title="CurrentPositionWarn"] img {
    display:none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (device-width: 768px) {
    #map-canvas div.gmnoprint[title="CurrentPositionWarn"] {
        margin:-10px 0 0 -10px;
    }
}


#map-canvas div.gmnoprint[title="CurrentPositionAlert"] {
    -moz-animation: pulsate 1.5s ease-in-out infinite;
    -webkit-animation: pulsate 1.5s ease-in-out infinite;
    border:1pt solid #fff;
    /* make a circle */
    -moz-border-radius:51px;
    -webkit-border-radius:51px;
    border-radius:51px;
    /* multiply the shadows, inside and outside the circle */
    -moz-box-shadow:inset 0 0 5px #f00, inset 0 0 5px #f00, inset 0 0 5px #f00, 0 0 5px #f00, 0 0 5px #f00, 0 0 5px #f00;
    -webkit-box-shadow:inset 0 0 5px #f00, inset 0 0 5px #f00, inset 0 0 5px #f00, 0 0 5px #f00, 0 0 5px #f00, 0 0 5px #f00;
    box-shadow:inset 0 0 5px #f00, inset 0 0 5px #f00, inset 0 0 5px #f00, 0 0 5px #f00, 0 0 5px #f00, 0 0 5px #f00;
    /* set the ring's new dimension and re-center it */
    height:51px!important;
    margin:-18px 0 0 -18px;
    width:51px!important;
}

#map-canvas div.gmnoprint[title="CurrentPositionAlert"] img {
    display:none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (device-width: 768px) {
    #map-canvas div.gmnoprint[title="CurrentPositionAlert"] {
        margin:-10px 0 0 -10px;
    }
}

@-moz-keyframes pulsate {
    from {
        -moz-transform: scale(0.25);
        opacity: 1.0;
    }
    95% {
        -moz-transform: scale(1.3);
        opacity: 0;
    }
    to {
        -moz-transform: scale(0.3);
        opacity: 0;
    }
}

@-webkit-keyframes pulsate {
    from {
        -webkit-transform: scale(0.25);
        opacity: 1.0;
    }
    95% {
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(0.3);
        opacity: 0;
    }
}